<div class="d-flex align-items-center justify-content-center pt-4">
    <h1>Welcome to tweet this later!</h1>

</div>
<div class="d-flex align-items-center justify-content-center pt-4">
    <%= button_to "Connect Twitter", "/auth/twitter", method: :post, class:"btn btn-primary" %>

</div>